html,body {
    margin: 0;
    padding: 0;
    background-color:  #fffcf4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
a {
    text-decoration: none;
}
h2 {
    font: 30px/30px Arial, sans-serif;
    padding-bottom: 25px;
}
h5 {
    font: 17px/30px Arial, sans-serif;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
#header {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
}
#header > .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section {
    padding: 20px 0 20px 0;

}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.title {
    text-transform: uppercase;
    font: 32px/32px Arial, sans-serif;
    padding-bottom: 30px;
    margin: 0 auto;
}
.description {
    font: 25px/42px Arial, sans-serif;
    width: 730px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.text-white {
    color: white;
}
.text-lightgray {
    color: #dfdfdf;
}

.btn {
    padding: 20px;
    width: 350px;
    text-transform: uppercase;
    font: bold 24px Arial, sans-serif;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid white;
    background: none;
}
.btn:hover {
    background: #fa3a5e;
    color: #fff;
}
.btn-small {
    width: 160px;
}
.input {
    width: 540px;
    height: 60px;
    margin-bottom: 30px;
    padding-left: 35px;
    font: 25px Arial,sans-serif;
    box-sizing: border-box;
}
.input-small {
    width: 350px;
}
.social {
    width: 170px;
    margin: 0 auto;
}
.social-item {
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px;
   background: url("white_sprait_1.png") no-repeat;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.facebook {
    background-position: -150px 0px;
}

.twitter {
    background-position: -50px 0px;
}
.google {

    background-position: 0px 0px;
}
.gred{
    background-color: red;

}
.facebook:hover {
    border: 1px solid black;
    border-radius: 5px;
   /* background-position: -640px -390px;*/
}
.twitter:hover {
    border: 1px solid black;
    border-radius: 5px;
   /* background-position: -233px -390px;*/
}
.google:hover {
    border: 1px solid black;
    border-radius: 5px;
    /*9background-position: -165px -390px;*/
}
.social-item:last-child {
    margin-right: 0;
}

#SCIENCE, #ENJOY{
    font-size: 27.5px;
    font-family: "Lato";
    color: rgb( 102, 105, 130 );
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
#ENJOY {
    color: #b9bcc1;
}
.nav {
    float: right;
    list-style: none;
}
.nav li {
    float: left;
    margin-right: 40px;

}
.nav li:last-child {
    margin-right: 0;
}
.nav a {
    text-transform: uppercase;
    display: block;
    font-size: 15px;
    font-family: "Open Sans";
    color: rgb( 188, 190, 203 );
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}
.nav a:hover {
    border-bottom: 1px solid white;
}
.logo {
    float: left;
    margin-left: 30px;
}
#home {
    padding-top: 215px;
    color: #fff;
    background: url("banner.jpg") no-repeat center
    bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-bottom: 200px;
}
#home h1 {
    padding: 0px 0px 40px 0px;
    font-size: 50px;
    font-family: "Open Sans";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
}
#home h2{
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb( 185, 188, 193 );
    font-weight: bold;
    line-height: 1.251;
    text-align: center;

}
 .btn {
    background-color: #e94544;
    margin: 60px 0 180px 0;
}


 #features .container{
     background-color: white;
     padding: 40px 0 40px 0;
     margin-top: -200px;
 }
 #features {
     padding: 0px;
 }
.features-item {
    width: 33%;
    padding-top: 100px;
    float: left;
    background-repeat: no-repeat;
    background-position: center top;
}
.features-item h5 {
    font-size: 10px;
    font-family: "Open Sans";
    color: rgb( 87, 87, 88 );
    font-weight: bold;
    text-align: center;
    padding: 0 15px;
}

.icon1 {
    background-image: url("Design-100.png");
}
.icon2{
    background-image: url("Mac Client-100.png");
}
.icon3{
    background-image: url("Idea-100.png");
}
.icon4{
    background-image: url("Physics-100.png");
}
.icon5{
    background-image: url("Briefcase-100.png");
}
.icon6{
    background-image: url("Skydrive-100.png");
}
.portfolio-item {
    float: left;
    width: 28%;
    height: 218px;
    margin: 15px;
}
.portfolio-item:nth-child(1),.portfolio-item:nth-child(4){
      margin-left: 0px;
}
.portfolio-item:nth-child(3),.portfolio-item:nth-child(6){
    margin-right: 0px;
}
#portfolio .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.portfolio-item img {
    width: 100%;
    height: 100%;
}
.team-wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-item{
    float: left;
    width: 21.5%;
    margin: 10px;
}
.team-item > img {
    width: 100%;
}
.team-item:first-child{
    margin-left: 0;
}
.team-item:last-child{
    margin-right: 0;
}
.team-item h2{
    padding-top: 40px;
    font-size: 30px;
    font-family: "Open Sans";
    color: rgb( 76, 76, 76 );
    font-weight: bold;
    text-align: left;
    line-height: 0.584;
}


.team-item h3{
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb( 197, 80, 75 );
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    line-height: 0.876;

}

.team-item h5{
    padding-bottom: 25px;
    font-size: 10px;
    font-family: "Open Sans";
    color: rgb(194, 194, 194);
    font-weight: bold;
    text-align: left;
    line-height: 2.003;
}
#downald h2{
    font-size: 45px;
    font-family: "Open Sans";
    color: rgb( 80, 80, 80 );
    font-weight: bold;
    text-align: center;
    margin: 100px 0px 60px 0px ;
}
#downald h3{
    font-size: 25px;
    font-family: "Open Sans";
    color: rgb( 80, 80, 80 );
    font-weight: bold;
    text-align: center;
    margin: 60px 0px 60px 0px;
}
#downald .btn{
    margin: 60px 0 60px 0;
}
.down{
    background-color: #e1e1e1;
}
#footer{
    margin-top: -40px;
    background-color: #3a3e62;
}
#footer .container{
    padding: 20px;
}

.footer-item{
    width: 20%;
    margin: 0px 65px 0px 65px;
    float: left;
    text-align: center;
}
.footer-item h4{
    font-size: 15px;
    font-family: "Open Sans";
    color: rgb( 225, 225, 225 );
    font-weight: bold;
    text-align: center;
}
.footer-item h5{
    font-size: 12.5px;
    font-family: "Open Sans";
    color: rgb( 110, 114, 140 );
    font-weight: bold;
}



.google .gred{
    background-color: red;
}

